{% load audiosearch_tags %}

{% for pending in pending_content %}
    <script type="text/javascript">
        var opts = {
                'resource_id': "{{ resource_id|safe }}",
                'resource_name': "{{ resource_name|safe }}",
                'content_key': "{{ pending }}",
                'page': "{{ page }}",
                'item_count': "{{ item_count }}",
                'attempt': 0
            },
            use_generic_key = {{ use_generic_key|yesno:"true,false" }};

        setTimeout(dispatch(opts, use_generic_key), AJAX_INITIAL_SNOOZE);
    </script>
{% endfor %}
