{% load audiosearch_tags %}

<!-- footer -->
<div id="container-footer">
    
    <div class="separator center"></div>

    <div id="footer" class="center">
        <ul>
            <li>
                Last modified August 18, 2014
            </li>
            <li>
                /
            </li>
            <li>
                Brad Chambers
            </li>
            <li>
                /
            </li>
            <li>
                <a href="https://audiosearch.net">audiosearch.net</a>
            </li>
        </ul>
        <ul>
            <li>
                email@email.email
            </li>
            <li>
                /
            </li>
            <li>
                <a href="https://github.com/bchambs">https://github.com/bchambs</a>
            </li>
        </ul>
    </div>
</div><!--END footer -->


