{% load audiosearch_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% include "html_head.html" %}

    <title>audiosearch - top100</title>
</head>

<body>

{% include "page_header.html" %}

<div class="page-wrapper">

<!-- content -->
<div class="container-content">
    
    <!-- resource title -->
    <div id="resource-title" class="center">
        <div id="title-container">
            <h1>
                Top 100
            </h1>
        </div>
    </div>

    <hr>

    <div class="subtitle center">
        Music ranked by popularity according to the Echo Nest.
    </div>

    {% with content=top_artists %}
        {% include "content_box.html" %}
    {% endwith %}
    
</div><!--END content -->

{% include "page_footer.html" %}

</div><!--END page wrapper -->

{% include "js_source.html" %}

{% include "ajax_source.html" %}
{% include "ajax_debug.html" %}

</body>
</html>
