<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% include "head.html" %}
    {% block base_head %}{% endblock %}
    <title>
        {% block base_title %}audiosearch{% endblock %}
    </title>
</head>

<body>
    <div id="page-wrapper">

        {% include "nav.html" %}

        <article>
            {% block base_article_header %}
                Article Header !
            {% endblock %}

            {% block base_content_zone %}
                A section !
            {% endblock %}
        </article>

        {% include "footer.html" %}

    </div><!-- END page-wrapper -->
{% include "js_source.html" %}
</body>
</html>
