{% extends "base.html" %}
{% load audiosearch_tags %}


{% block base_title %}
    top 100
{% endblock %}


{% block base_article_header %}
<header>
    Popular Music
</header>
{% endblock %}


{% block base_content_zone %}
<section>
    <!-- top artists list -->
    <ul>
    {% for artist in top_hottt.echodata %}
        <li class="{% cycle 'odd' 'even' %}">
            
            <!-- side image -->
            <div class="image-wrap">
                <a href="{% url 'artist_home' artist.name %}">&nbsp;
                    <img src="{{ artist.image }}" />
                </a>
            </div><!-- END side image -->


            <!-- artist name -->
            <strong class="name">
                <a href="{% url 'artist_home' artist.name %}">
                    {{ artist.name }}
                </a>
            </strong>
            <span class="rank">
                {% if artist.rank %}
                    ( {{ artist.rank }} % )
                {% endif %}
            </span><!-- END artist name -->


            <!-- recommended songs -->
            <div class="recommended">
                Recommended: 
                {% for song in artist.songs %}
                    <span class="song">
                        {% if forloop.last %}
                            <a href="{% url 'song_home' artist.name song.title %}">{{ song.title }}</a>
                        {% else %}
                            <a href="{% url 'song_home' artist.name song.title %}">{{ song.title }}</a>,
                        {% endif %}
                    </span>
                {% endfor %}
            </div><!-- END recommended songs -->
            

            <!-- genre tags -->
            <div class="genres">
                {% for genre in artist.genres %}
                    <span class="tag">
                        {{ genre }}
                    </span>
                {% endfor %}
            </div><!-- END genre tags -->

        </li>
    {% endfor %}
    </ul><!-- END top artists list -->


    <!-- pagination -->
    <div class="pagination">
        
        <!-- next -->
        {% if top_hottt.next %}
            <a href="{% url 'music_home' %}?page={{ top_hottt.next }}">
                <span class="box">
                    next
                </span>
            </a>
        {% endif %}<!-- END next -->


        <!-- current -->
        {% if top_hottt.total_pages != 1 %}
            <span class="current box">
                {{ top_hottt.current }} of {{ top_hottt.total_pages }}
            </span>
        {% endif %}<!-- END current -->


        <!-- previous -->
        {% if top_hottt.previous %}
            <a href="{% url 'music_home' %}?page={{ top_hottt.previous }}">
                <span class="box">
                    previous
                </span>
            </a>
        {% endif %}<!-- END previous -->

    </div><!-- END pagination -->

</section>
{% endblock %}
