<!-- header -->
<div id="header-wrapper">
    <div id="navbar">
        <a id="sitename" href="/">audiosearch</a>

        <form id ="navsearch" action='{% url "search" %}' method="GET">
            <input class="searchbar" type="text" name="q">
        </form>
        <ul>
            <li>
                <a href="/about/">about</a>
            </li>
            <li>
                <a href="/trending/">trending</a>
            </li>
            <li>
                <a href="/music/">music</a>
            </li>
        </ul>
    </div><!-- END navbar -->
</div><!-- END header-wrapper -->
<!--END header -->
