{% load audiosearch_tags %}

<!-- content tables -->
<div id="content-tables" class="content center">
    <div class="container-table">
        <div class="header">

            <div class="section-title left">
                {{ content_title|title }}
            </div>

            <!-- spinner -->
            {% if not content %}
                <div id="content-spinner" class="spinner left">
                    <img src="{{ STATIC_URL }}img/spinner.gif"></img>
                </div>
            {% endif %}

            <!-- display page nav -->
            <div id="next" class="right">
                {% if content.next %}
                    {% if q_params %}
                        <a href = "?{{ q_params|build_query_string }}&page={{ content.next }}" >next</a>
                    {% else %}
                        <a href = "?page={{ content.next }}" >next</a>
                    {% endif %}
                {% endif %}
            </div>

            <div id="current" class="right">
                {% if content.next or content.previous and content.current %}
                    {{ content.current }} of {{ content.total }}
                {% endif %}
            </div>

            <div id="previous" class="right">
                {% if content.previous %}
                    {% if q_params %}
                        <a href = "?{{ q_params|build_query_string }}&page={{ content.previous }}" >previous</a>
                    {% else %}
                        <a href = "?page={{ content.previous }}" >previous</a>
                    {% endif %}
                {% endif %}
            </div> <!--END display page nav -->

        </div>

        <div id="content-notification" class="content-notification hide">
        </div>

        <!-- content table -->
        {% if content.empty %}
            <div class="content-notification">
                {{ content.empty }}
            </div>
        {% else %}
            <table id="content-table">
                {% with content=content spinner_id="content-spinner" %}
                    {% include "content_TBODY.html" %}
                {% endwith %}
            </table>
        {% endif %}

    </div>
</div><!--END content tables -->
