/************
    general
*************/
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body {
    background: none repeat scroll 0 0 #929292;
    font-family: Liberation Sans;
    font-size: 17px;
    margin: 0;
    padding: 0;
    width: 100%;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none outside none;
}
li {
    margin: 0;
    display: inline-block;
}
#page-wrapper {
    margin-bottom: 120px;
    margin-top: 15px;
    min-width: 900px;
}

/************
    nav
*************/
nav {
    background: none repeat scroll 0 0 #272727;
    border-left: 1px solid #272727;
    border-radius: 0 23px 0 0;
    border-right: 1px solid #272727;
    border-top: 1px solid #272727;
    box-shadow: 0 2px 3px #6A6A6A;
    color: #fff;
    height: 55px;
    margin: 0 auto;
    padding: 0 20px;
    position:relative;
    width: 830px;
    z-index: 999;
}
nav ul {
    height: 100%;
    text-align: center;
    width: 100%;
}
nav li {
    float: right;
    margin: 18px 20px 0 0;
}
nav #sitename {
    color: #fff;
    float: left;
    font-size: 30px;
    padding-top: 9px;
}
nav a {
    color: #FACA66;
    font-style: bold;
    text-decoration: none;
}
nav a:hover {
    color: #fff;
    text-decoration: underline;
}
nav a:visited {
    color: #FACA66;
}
nav a:hover#sitename{
    color: #D1B2F0;
    text-decoration: none;
    text-shadow: none;
}
nav #navsearch {
    float: right;
    padding-top: 15px;
}
nav .searchbar {
    background: white repeat scroll 0 0 transparent;
    border: 0 none;
    height: 20px;
    outline: medium none;
    width: 220px;
    border-radius: 5px;
}

/************
    links
*************/
a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    /*color: #F45D4C;*/
    color: #fff;
}
