/*
    general
*/
section ul {
    border-bottom: 1px solid #272727;
    margin-bottom: 15px;
}
section li {
    /*clear: both;*/
    display: block;
    height: 102px;
    padding: 20px 10px 20px 140px;
    position: relative;
}
section li.odd {
    border-top: 1px solid #272727;
    border-bottom: 2px solid #272727;
}

/* 
    side image 
*/
section li .image-wrap {
    border: 1px solid #000;
    color: #000;
    float: left;
    height: 100px;
    margin-right: 20px;
    margin-left: -130px;
    overflow: hidden;
    position: relative;
    width: 130px;
}
section li .image-wrap img {
    bottom: -9999px;
    display: block;
    height: auto;
    left: -9999px;
    margin: auto;
    min-height: 100%;
    position: absolute;
    right: -9999px;
    top: -9999px;
    width: 130px;
}

/* 
    artist name
*/
section li strong.name {
    font-size: 17px;
    font-weight: 600;
    line-height: 18px;
}
section li .rank {
    color: #CCCCCC;
    margin-left: 7px;
}

/* 
    recommended songs
*/
section li .recommended {
    margin: 5px 0;
    max-height: 36px;
    overflow: hidden;
}
section li .recommended .song {
    margin-left: 5px;
}
section li .recommended a {
    color: #80C3E2;
    line-height: 15px;
}
section li .recommended a:hover {
    color: #80C3E2;
}

/* 
    genre tags
*/
section li .genres {
    bottom: 23px;
    margin-left: 21px;
    position: absolute;
    /*right: 5px;*/
}
section li .genres .tag {
    background-color: #272727;
    margin-right: 5px;
    color: #FACA66;
    padding: 3px 6px;
}

/*
    pagination
*/
section .pagination {
    clear: both;
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
}
section .pagination .box {
    background-color: #272727;
    border: 1px solid #272727;
    padding: 2px 12px;
    margin-left: 12px;
    float: right;
}
section .pagination .box:hover {
    background-color: #5A5A5A;
}
section .pagination .current.box:hover {
    background-color: #272727;
}
section .pagination a:hover {
    text-decoration: none;
}
