.content-title {
    height: 200px;
    width: 1000px;
    /*display: inline;*/
    margin: 0 auto;
}

#artist-image {
    padding: 0;
    margin: 0;
}
#title-image {
    height: 200px;
    width: 200px;
    padding: 0;
    margin: 0 auto;
}
#artist-info {
    height: 200px;
}

.content {
    width: 100%;
    width: 1465px;
    height: 700px;
    padding-top: 50px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.st {
    font-size: 12px;
}

table#similar-table{
    table-layout: fixed;
    width: 950px;
    border-style: hidden;
    /*padding: 8px;*/
}
th#similar-table, td#similar-table {
    /*overflow: hidden;*/
    width: 150px;
    height: 150px;
    /*padding: 4px;*/
}
td#similar-table {
    /*padding: 4px;*/
}


#similar-artists {
    width: 950px;
    /*margin-left: 200px;*/
    display: inline-block;
    padding: 0;
    /*margin-left: 200px;*/
    /*float:left;*/
}
#similar-artists-title {
    font-size: 30px;
    text-align: left;
    width: 100%;
    margin: 0;
    border-bottom: 2px solid white;
    text-indent: 50px;
}

.hide {
    display:none;
}

.artist-block-name {
    position: absolute; 
    left: 0; 
    top: 0;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
}
.artist-preview-image {
    position: relative;
    height: 150px;
    overflow: hidden;
}
.preview-image {
    /*height: 125px;*/
    /*overflow: hidden;*/
}

#artist-songs {
    height: 497px;
    width: 450px;
    display: inline-block;
    padding: 0;
    border-bottom: 1px solid white;
}
#artist-songs-title {
    font-size: 30px;
    text-align: left;
    width: 100%;
    margin: 0;
    border-bottom: 2px solid white;
    text-indent: 50px;
}
.song-index {
    width: 50px;
    height: 45px;

}
.song-title {
    width: 400px;
}


#separator {
    min-height: 1px;
    min-width: 50px;
    display: inline-block;
}
