/*
    CONTENT 
*/
.content {
    margin-top: 20px;
}
#container-content {
    background: none repeat scroll 0 0 #5A5A5A;
    border: 0 none;
    color: #fff;
    font: inherit;
    margin: 0 0 150px 0;
}

#resource-title {
    min-height: 63px;
    clear: both;
}
#resource-title h1 {
    max-width: 970px;
    float: left;
    margin-bottom: 5px;
    word-wrap: break-word;
}
#resource-title li {
    float: right;
    font-size: 20px;
    /*padding: 0 0 0 15px;*/
    padding: 39px 0 0 15px;
}

#title-container {
    display: inline-block;
    width: 970px;
}

#profile-years_active {
    margin-left: 20px;
}

#profile-genres {
    min-height: 30px;
    margin-top: 20px;
}
#profile-genres li {
    margin-right: 8px;
}

.genre-tag {
    color: #FFCC99;
    background-color: #3F3F3F;
    padding: 5px 8px;
}

.subtitle {
    font-size: 20px;
}
