.title {
    font-size: 30px;
}

.subtitle {
    font-size: 22px;
}

.header {
    text-align: center;
}

.white {
    color: white;
}
.aaa {
    background-color: #81A8B8;
}
.bbb {
    background-color: #A4BCC2;
}
.ccc {
    background-color: #DBE6EC;
}
.ddd {
    background-color: #E8F3F8;
}

a {
    color: red;
    /*color: #81A8B8;*/
    text-decoration: none;
}
a:hover {
    color: red;
    /*color: #A4BCC2;*/
}
a:visited {
    color: red;
    /*color: #81A8B8;*/
}
a:active {
    
}

.click-div {
    background-image: url('empty.gif');
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
