html, body {
    color: white;
    /*min-height: 100%;*/
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    /*line-height: 200%;*/
}

.container {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    /*background-color: #FEF2CD;*/

    background-color: #215681;
    text-align: center;
}

.wrap {
    width: 1188px;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
}
.nav {
    height: 50px;
    background-color: #1C2A3B;
}
/*what is this*/
/*.banner-conftainer {
    min-height: 300px;
    width: 1188px;
}*/

.row {
    margin: 0;
}
.content {
    /*height: 600px;*/
    /*background-color: #A7E695;*/
    background-color: #215681;
    height: 100%;
    min-height: 100%;
}

.footer {
    background-image: url('../img/wave-far2.svg');
    background-color: #A7E695;
    min-height: 95px;
    max-height: 95px;
}
.reflection {
    margin-bottom: 0px;
    background-color: rgba(7, 95, 69, 100);
    box-shadow: 0 -65px 140px #D1FF99;
}

