/*
    nav bar
*/
#nav {
    border-bottom: 2px solid black;
    color: white;
    display: block;
    height: 30px;
    padding: 12px;
}
#nav .zone {
    float: left;
}
#nav .glyphicon {
    font-size: 25px;
}
#nav .search {
    margin-left: 25px;
}
#nav .search .search-bar {
    color: black;
    /*height: 23px;*/
    padding: 3px 6px;
    width: 300px;
}


/*
    dir bar
*/
.dir {
    width: 980px;
    margin: 20px auto;
}
.dir .title{
}
.dir .subtitle{
    margin-left: 50px;
}
/*.dir {
    line-height: 250%;
    margin-top: 30px;
}
.dir .title{
    margin-left: 50px;
}
.dir .subtitle{
    margin-left: 100px;
}
.dir hr {
    border: none;
    background-color: black;
    color: black;
    height: 2px;
    margin-left: 50px;
    margin-right: 50px;
}*/


/*
    content buttons
*/
.content-buttons {
    display: block;
    width: 975px;
    margin: 20px auto;
    overflow: hidden;
    height: 50px;
}
.content-buttons .button {
    border-right: 3px solid gray;
    border-bottom: 5px solid gray;
    float: left;
    height: 45px;
    width: 322px;
    text-align: center;
    position: relative;

}
.content-buttons .button .button-text {
    font-size: 20px;
    line-height: 45px;
}


hr {
    border: none;
    background-color: black;
    color: gray;
    height: 1px;

    width: 975px;
    margin: 20px auto;
    overflow: hidden;
 }

/*
    debug
*/
.debug {
    color: black;
    float: left;
    font-size: 30px;
    height: 40px;
    margin-left: 100px;
}
.debug .zone {
    margin: 0 10px;
    position: relative;
    text-align: center;
    width: 70px;
}
.debug .normal {
    text-align: center;
    width: 170px;
}
.debug .zone .link {
    background-image: url('empty.gif');
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}




