/*
    nav bar
*/
#nav {
    border-bottom: 2px solid black;
    color: white;
    display: block;
    height: 30px;
    padding: 12px;
}
#nav .zone {
    float: left;
}
#nav .glyphicon {
    font-size: 25px;
}
#nav .search {
    margin-left: 25px;
}
#nav .search .search-bar {
    color: black;
    /*height: 23px;*/
    padding: 3px 6px;
    width: 300px;
}


/*
    dir bar
*/
.dir {
    margin-top: 25px;
    width: 975px;
    display: block;
}
.dir .title {
    float: left;
}
.dir .button {
    margin-left: 30px;
    margin-top: 9px;
    float: right;
}

/*
    artist-info
*/
.artist-info, .song-info {
    line-height: 200%;
    text-indent: 15px;
}

hr {
    border: none;
    background-color: black;
    color: gray;
    height: 1px;

    width: 975px;
    margin: 10px auto;
    overflow: hidden;
 }

/*
    debug
*/
.debug {
    color: black;
    float: left;
    font-size: 30px;
    height: 40px;
    margin-left: 100px;
}
.debug .zone {
    margin: 0 10px;
    position: relative;
    text-align: center;
    width: 70px;
}
.debug .normal {
    text-align: center;
    width: 170px;
}
.debug .zone .link {
    background-image: url('empty.gif');
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}




