/*
    nav bar
*/
.nav {
    border-bottom: 2px solid black;
    color: white;
    display: block;
    padding: 12px;
}
.nav .zone {
    float: left;
}
.nav .glyphicon {
    font-size: 25px;
}
.nav .search {
    margin-left: 25px;
    margin-top: 2px;
}
.nav .search .search-bar {
    color: black;
    height: 23px;
    padding: 3px 6px;
    width: 300px;
}


/*
    dir bar
*/
.dir {
    font-size: 30px;
    margin-top: 30px;
    margin-left: 50px;
}

.dir .general{

}

.dir .specific{

}



/*
    debug
*/
.debug {
    float: left;
    margin-left: 100px;
    height: 40px;
    color: black;
}
.debug .zone {
    width: 70px;
    font-size: 30px;
    text-align: center;
    position: relative;
    margin: 0 10px;
}
.debug .normal {
    width: 170px;
    font-size: 30px;
    text-align: center;
    position: relative;
}
.debug .zone .link {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
    background-image: url('empty.gif');
}


