.content-title {
    height: 200px;
    min-height: 200px;
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.content {
    width: 100%;
    width: 1465px;
    height: 700px;
    padding-top: 50px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.song-index {
    width: 50px;
    height: 45px;

}
.song-title {
    width: 600px;
}

.title-text {
    font-size:30px;
}


