.content-wrap {
    margin-left: auto;
    margin-right: auto;
    width: 1188px;
    /*height: 100%;*/
}

#type-results 

#artist-result-table {

}

#song-result-table {
    width: 100%;
}










