.song-content-header {
    height: 115px;
    width: 1000px;
    margin: 0 auto;
    padding: 15px;
}
.song-content-title {
    width: 1000px;
    height: 20px;
}
.title-info {
    width:100%;
}
#song-title {
    display: inline-block;
    float:left;
}
#duration {
    display: inline-block;
    float:left;
    margin-left: 25px;
}
#rank {
    display: inline-block;
    float:left;
}
#hotttnesss {
    display: inline-block;
    float:left;
}
#artist-name {
    /*width: 100%;*/
    display: inline-block;
    float:left;
    font-size: 18px;
    margin-left: 75px;
}

.subtitle {
    font-size: 20px;
    margin-left: 100px;
}

.subtitle-icon {
    font-size: 20px;
    margin-left: 100px;
}

.custom-hr {
    margin: 8px;
}

.small-glyph {
    font-size: 18px;
    padding-right: 5px;
}
