{% load audiosearch_tags %}

<!-- resource profile -->
<div id="resource-profile" class="center">
    <div id="profile">
        {% if profile %}
            <div id="profile-location">
                {{ profile.location }}
            </div>

            <div id="profile-genres">
                {% for genre in profile.genres %}
                    {{ genre }}
                {% endfor %}
            </div>
        {% else %}
            <div id="profile-location">
            </div>

            <div id="profile-spinner" class="spinner-container">
                <img src="{{ STATIC_URL }}img/spinner.gif"></img>
            </div>

            <div id="profile-genres">
            </div>
        {% endif %}
    </div>
</div>
