<!-- content box -->
<div class="content center">
    <div class="container-table">
        <div class="header">
            <!-- box title -->
            <div class="section-title left">
                {{ content.title|title}}
            </div>

            <!-- spinner -->
            {% if not content.echodata %}
                <div id="{{ content.template_key }}-spinner" class="spinner left">
                    <img src="{{ STATIC_URL }}img/spinner.gif"></img>
                </div>
            {% endif %}
        </div>

        <!-- error/empty message -->
        <div id="{{ content.template_key }}-notification" class="content-notification hide"></div>

        <!-- content table -->
        <table id="{{ content.template_key }}-table">
            {% if content.echodata %}
                {% include "content_rows.html" %}
            {% else %}
                <!-- ZZZZZZZZZZZZZZz -->
            {% endif %}
        </table>
    </div>
</div><!--END content box -->
