<!-- content box -->
<div class="content center">
    <div class="container-table">
        <div class="header">

            <!-- box title -->
            <div class="section-title left">
                {{ content.title|title }}
            </div>

            <!-- spinner -->
            {% if content.is_pending %}
                <div id="{{ content.div_id }}-spinner" class="spinner left">
                    <img src="{{ STATIC_URL }}img/spinner.gif"></img>
                </div>
            {% endif %}

            <!-- table nav -->
                <!-- includes? -->
        </div>

        <!-- error/empty message -->
        <div id="{{ content.div_id }}-notification" class="content-notification hide">
        </div>

        <!-- content table -->
        <table>
            <tbody id="{{ content.div_id }}-tbody">
                {% if content.resource_data %}
                    {% with resource_data=content.resource_data %}
                        {% include "content_rows.html" %}
                    {% endwith %}
                {% else %}
                    <!-- ZZZZZZZZZZZZZZz -->
                {% endif %}
            </tbody>
        </table>
    </div>
</div><!--END content box -->
