{% load audiosearch_tags %}

<!-- display page nav -->
<div id="{{ div_id }}-next" class="right">
    {% if content.next %}
        {% if q_params %}
            <a href = "?{{ q_params|build_query_string }}&page={{ content.next }}" >next</a>
        {% else %}
            <a href = "?page={{ content.next }}" >next</a>
        {% endif %}
    {% endif %}
</div>

<div id="{{ div_id }}-current" class="right">
    {% if content.next or content.previous and content.current %}
        {{ content.current }} of {{ content.total }}
    {% endif %}
</div>

<div id="{{ div_id }}-previous" class="right">
    {% if content.previous %}
        {% if q_params %}
            <a href = "?{{ q_params|build_query_string }}&page={{ content.previous }}" >previous</a>
        {% else %}
            <a href = "?page={{ content.previous }}" >previous</a>
        {% endif %}
    {% endif %}
</div> <!--END display page nav -->
