<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
   
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/grid.css" rel="stylesheet">

    <title>audiosearch</title>
</head>

<body>

<div class="container">

    <!--left column-->
    <div class="col-lg-2">
    </div>

    <!--main column-->
    <div class="col-lg-8"  class="center-block">
        <div id="index-main-col">
            about 
        </div>
    </div>

    <!--right column-->
    <div class="col-lg-2">
    </div>

</div>

<script src="{{ STATIC_URL }}js/jquery-1.11.0.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/script.js"></script>
</body>

</html>
