<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--Google analytics-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51583732-1', 'audiosearch.net');
      ga('send', 'pageview');

    </script><!--END analytics-->

    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
   
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/grid.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/nav.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/profile.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/artist.css" rel="stylesheet">

    <title>audiosearch</title>
</head>
<body>

<div class="nav secondc">
    <span id="nav-home-icon" class="glyphicon glyphicon-music nav-glyphicon"></span>

    <div id="nav-title">
        <a href = "{% url 'src.views.index' %}" >audiosearch</a>
        ::
    </div>

    <div id="nav-search">
        <form action="/search/" method="GET">
            <input class="search-bar" type="text" name="q">
        </form>
    </div>

    <div class="nav-buttton">
        about
    </div>
    <div id="nav-contact" class="nav-buttton">
        contact
    </div>
</div>

<div class="container primec">
    <div class="row">
        <div class="content-title accentc">
            <div id="artist-image" class="secondc col-lg-4">
                {% if profile.title_image %}
                    <img id="title-image" src="{{ profile.title_image }}" />
                {% endif %}
            </div>

            <div id="artist-info" class="secondc col-lg-8">{{ profile.name }}
            </div>

            <br />
            {% for term in profile.terms %}
                {{ term }},
            {% endfor %}
        </div>
    </div>
</div>

<!-- wrap suggestions -->
<div class="content primec">
    <!-- wrap artists -->
    <span id="similar-artists" class="secondc">
        <div id="similar-artists-title" class="secondc">
            <span class="title-text">
                Similar artists
            </span>
            <span>
            {% if more_similar %}
                <a href="{% url 'src.views.artist_similar' %}?q={{ q }}&page=1">view more</a>
            {% endif %}
            </span>
        </div>

        <table id="similar-table" border="1" frame="void" rules="all">
            <tbody>
                {% if similar %}
                    {% for artist in similar %}
                        {% if forloop.counter0 == 0 or forloop.counter0 == 6 or forloop.counter0 == 12 %}
                        <tr>
                        {% endif %}
                        <td>
                            <div class="artist-preview-image">
                                <img class="preview-image" src="{{ artist.images.0.url }}" />

                                <span class="artist-block-name secondc">
                                    {{ artist.name }}
                                </span>

                                <a href="{% url 'src.views.artist_profile' %}?q={{ artist.id }}">
                                    <span class="block-link"></span>
                                </a>
                            </div>
                        </td>
                        
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </span><!-- end artists -->

    <span id="separator"></span>

    <span id="artist-songs" class="secondc">
        <div id="artist-songs-title" class="secondc">
            <span class="title-text">
                Songs
            </span>

            <span>
                {% if more_songs %}
                    <a href="{% url 'src.views.artist_songs' %}?q={{ q }}&page=1">view more</a>
                {% endif %}
            </span>
        </div>
        <table id="songs-table" border="1" frame="void" rules="all">
            <tbody>
                {% if songs %}
                    {% for song in songs %}
                    <tr>
                        <td class="song-index"> {{ forloop.counter }}</td>
                        <td class="song-title"> 
                            <a href="{% url 'src.views.song_profile' %}?q={{ song.id }}" > 
                                {{ song.title }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </span><!-- end songs -->
</div><!-- end suggestions -->


<script src="{{ STATIC_URL }}js/jquery-1.11.0.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/ajax.loader.js"></script>
<script src="{{ STATIC_URL }}js/artist.profile.js"></script>
<!-- 
{% if not profile %}
    <script type="text/javascript">
        dispatch("{{ q|escapejs }}", 'profile', false, 0);
    </script>
{% endif %}

{% if not songs %}
    <script type="text/javascript">
        dispatch("{{ q|escapejs }}", 'songs', true, 0);
    </script>
{% endif %}

{% if not similar %}
    <script type="text/javascript">
        dispatch("{{ q|escapejs }}", 'similar', true, 0);
    </script>
{% endif %} -->

</body>
</html>
