<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

<title>music-search: find something</title>

<body>

	<h3>{{ name }} : ({{ hot }}) : @{{ twitter }}</h3>

	<p></p>

	<h5>Similar artists:</h5>
	
	<ul>
	{% for s in similar %}

		<il>
			<a href = {% url 'home.views.artist_info' %}?q={{ s.name.split|join:'+' }} > {{ s }} </a>
		</il>
		<br>

	{% endfor %}
	</ul>
	
	<!-- control size with a div later -->
	<img src='{{ image }}'>

</body>

</html>
