{% load audiosearch_extras %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--Google analytics-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51583732-1', 'audiosearch.net');
      ga('send', 'pageview');

    </script><!--END analytics-->

    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
   
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/grid.css" rel="stylesheet">

    <title>audiosearch</title>
</head>
<body>

<div class="container">
    <div class="nav wrap">
-1
    </div>

    <div class="banner-container wrap">
       

        <!--image banner-->
        <div id="image-banner">
            <!--spinner display-->
            {% if status == 'pending' %}
                <img id="spinner" src="{{ STATIC_URL }}img/ajax-loader.gif" />
            {% elif status == 'failed' %}
                {{ message }}
            {% endif %}
            <!--END spinner-->

            <!--container:: h=300, w=1186-->
            <!--image:: h=300, w=296.5-->
        </div><!--END image banner-->

        <!--banner title-->
        <div id="banner-title">
            <div id="name">
                {{ name }}
            </div>
        </div><!--END banner title-->

    </div>

    <div class="content wrap">
        <div class="row">
            <div class="content-left col-lg-7">
                1
            </div>
            
            <class="row">
            <div class="content-right col-lg-5">
                3
            </div>
        </div>
    </div>

    <div class="footer wrap">
        
    </div><!--END footer-->

    <!-- <div class="reflection main"></div> -->
</div><!--END container-->

<script src="{{ STATIC_URL }}js/jquery-1.11.0.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/artist-utils.js"></script>
{% if status == 'pending' %}
    <script type="text/javascript">
        var q = fetch_query_string();
        fetch_request(q, 0);
    </script>
{% endif %}
</body>
</html>
