{% load audiosearch_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% include "general_HTML_HEAD.html" %}

    {% if not profile %}
        <style>
            #profile-box {
                display: none;
            }
        </style>
    {% endif %}

    <title>audiosearch - artist</title>

</head>

<body>

{% include "general_HEADER.html" %}

<div class="page-wrapper">

<!-- content -->
<div id="container-content">
    
    {% include "artist_PAGE_NAV.html" %}

    <hr>
    
    <!-- profile box -->
    <div id="profile" class="content center">
        <div class="container-table">
            <div class="header">

                <div class="section-title left">
                    Profile
                </div>

                <!-- spinner -->
                {% if not profile %}
                    <div id="profile-spinner" class="spinner left">
                        <img src="{{ STATIC_URL }}img/spinner.gif"></img>
                    </div>
                {% endif %}
                
            </div>

            <div id="profile-notification" class="content-notification hide">
            </div>

            {% if profile.empty %}
                <div class="content-notification">
                    {{ profile.empty }}
                </div>
            {% else %}
                <div id="profile-box">
                    <span id="profile-location">
                        {{ profile.location }}
                    </span>

                    <span id="profile-years_active">
                        {{ profile.years_active }}
                    </span>

                    <ul id="profile-genres">
                        {% for genre in profile.genres %}
                            <li class="genre-tag left">{{ genre }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

        </div>
    </div><!--END profile box -->

    <!-- content tables -->
    <div id="content-tables" class="content center">
        <div class="container-table">
            <div class="header">

                <div class="left">
                    Popular Tracks
                </div>

                <div id="songs-more" class="right">
                    {% if songs.next %}
                        <a href = "/music/{{ resource_name|space_to_plus }}/+songs/" >more</a>
                    {% endif %}
                </div>

                <!-- spinner -->
                {% if not songs %}
                    <div id="songs-spinner" class="spinner left">
                        <img src="{{ STATIC_URL }}img/spinner.gif"></img>
                    </div>
                {% endif %}

            </div>
            
            <div id="songs-notification" class="content-notification hide">
            </div>

            <!-- content table -->
            {% if songs.empty %}
                <div class="content-notification">
                    {{ songs.empty }}
                </div>
            {% else %}
                <table id="songs-table">
                    {% with content=songs spinner_id="songs-spinner" %}
                        {% include "content_TBODY.html" %}
                    {% endwith %}
                </table>
            {% endif %}
            
        </div>
    </div><!--END content tables -->
</div><!--END content -->

{% include "general_FOOTER.html" %}

</div><!--END page wrapper -->

{% include "general_JS_LINKS.html" %}

{% include "static_AJAX_OPTS.html" %}
{% include "static_AJAX_DEBUG.html" %}

</body>
</html>
