{% load audiosearch_tags %}

<!-- content tables -->
<div id="content-tables" class="content center">
    <div class="container-table">
        <div class="header">
            <div class="left">
                {{ content_description }}
            </div>

            <div id="next" class="right">
                <a href = "/music/{{ resource_name|space_to_plus }}/songs/" >more</a>
            </div>
        </div>

        <table>
            <tbody id="content-tbody-tbody">
                {% if content.data %}
                    {% for item in content.data %}
                        <tr class="{% cycle 'even' 'odd' %}">
                            <td>
                                {{ forloop.counter0|add:content.offset }}.
                            </td>
                            <td>
                                <a href = "/music/{{ item.artist_name|space_to_plus }}/_/{{ item.title|space_to_plus }}/" >{{ item.title }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <div id="content-spinner" class="spinner-container">
                        <img src="{{ STATIC_URL }}img/spinner.gif"></img>
                    </div>
                {% endif %}
            </tbody>
        </table>
    </div>
</div><!--END content tables -->
