<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<!-- need to give credit for the font...-->

    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
   
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/grid.css" rel="stylesheet">

<title>audiosearch</title>

</head>

<body>

<div class="container">

    <!--left column-->
    <div class="col-lg-1">
    </div>

    <!--main column-->
    <div id="index-main-col" class="col-lg-10">
        <div id="index-header" class="row box">

            <!--title block-->
            <div id="title-block" class="col-lg-4">
                <img src="{{ STATIC_URL }}img/title.png">

                <form action="/search/" method="GET">
                <div class="input-group">
                    <input id="search-bar" type="text" name="q" class="form-control" >
                </div>

                </form>
            </div><!--END title block-->

            <!--summary block-->
            <div id="summary-block" class="col-lg-8 box-footer">
                audiosearch is a simple way to find new music.<br />
            </div>
            <!--END summary block -->
        </div>

        <div id="index-h-separator" class="row">
        </div>

        <div id="index-content" class= "row">
            
            <!--trending block-->
            <div id="trending-block" class="col-lg-3 box">
                <!--<img src="{{ STATIC_URL }}img/trending.png"> <br />-->
                {% for t in trending %}
                    <a href = {% url 'home.views.artist_info' %}?q={{ t.name.split|join:'+' }}> {{ t }} </a> <br />
                {% endfor %}

                <div class="box-footer">
                    trending
                </div>
            </div><!--END trending block-->

            <div id="index-w-separator" class="col-lg-1">
            </div>

            <!--featured-block-->
            <div id="featured-block" class="col-lg-3 box">
                <!--<img src="{{ STATIC_URL }}img/featured.png"> <br />-->
                <a id="featured-artist" href = {% url 'home.views.artist_info' %}?q={{ fname.split|join:'+' }}> {{ fname }}
                ( 
                {% for t in featured_terms %}
                    {{ t }}
                {% endfor %}
                )
                </a><br />

                {{ featured_bio }}<br />
                <!--<a href = {% url 'home.views.artist_info' %}?q={{ fname.split|join:'+' }}> Read more. </a>-->

                <div class="box-footer">
                    featured
                </div>
                
            </div><!--END featured-block-->

            <div id="index-w-separator" class="col-lg-1">
            </div>

            <!--misc block-->
            <div id="misc-block" class="col-lg-3 box">
                <!--<img src="{{ STATIC_URL }}img/compare.png"> <br />-->
                Search for two artists or songs to see a visual representation of their differences.</br></br></br></br>
                <!--<a href = {% url 'home.views.compare' %}>Try it.</a>-->

                <div class="box-footer">
                    compare
                </div>
            </div><!--END block-->



        </div>
    </div>

    <!--right column-->
    <div class="col-lg-1">
    </div>

</div><!--END container-->

<script src="{{ STATIC_URL }}js/jquery-1.11.0.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/script.js"></script>
</body>

</html>
