{% load audiosearch_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% include "general_HTML_HEAD.html" %}
</head>

<body>

{% include "general_HEADER.html" %}

<div class="page-wrapper">

<!-- content -->
<div id="container-content">
    
    <!-- resource title -->
    <div id="resource-title" class="center">
        <div id="title-container">
            <h1>
                Top 100
            </h1>
        </div>
    </div>

    <hr>

    <div class="subtitle center">
        Music ranked by popularity according to the Echo Nest.
    </div>

    {% with content=complete.top_artists div_id='top_artists' content_title=title %}
        {% include "content_CONTAINER.html" %}
    {% endwith %}
    
</div><!--END content -->

{% include "general_FOOTER.html" %}

</div><!--END page wrapper -->

{% include "general_JS_LINKS.html" %}

{% include "static_AJAX_OPTS.html" %}
{% include "static_AJAX_DEBUG.html" %}

</body>
</html>
