{% load audiosearch_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% include "general_HTML_HEAD.html" %}
</head>

<body>

{% include "general_HEADER.html" %}

<!-- content -->
<div id="container-content">
    
    <!-- resource title -->
    <div id="resource-title" class="center">
        <div id="title-container">
            <h1>
                "{{ resource_name }}"
            </h1>

            <ul>
                <li>
                    <a href="/search/?q={{ resource_name|space_to_plus }}">
                        Everything
                    </a>
                </li>

                <li>
                    /
                </li>
                
                <li>
                    <a href="/search/?q={{ resource_name|space_to_plus }}&type=songs">
                        Songs
                    </a>
                </li>

                <li>
                    /
                </li>

                <li>
                    <a href="/search/?q={{ resource_name|space_to_plus }}&type=artists">
                        Artists
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <hr>

    {% if page_type %}

        {% include "content_CONTAINER.html" %}

    {% else %}
        <!-- content tables -->
        <div id="content-tables" class="content center">
            <div class="container-table">
                <div class="header">

                    <div class="left">
                        Artist results
                    </div>

                    <div id="search_artists-more" class="right">
                        {% if search_artists.next %}
                            <a href = "/search/?q={{ resource_name|space_to_plus }}&type=artists" >more</a>
                        {% endif %}
                    </div>

                </div>

                <table id="search_artists-table">
                    {% with content=search_artists spinner_id="search_artists-spinner" %}
                        {% include "content_TBODY.html" %}
                    {% endwith %}
                </table>
                
            </div>
        </div><!--END content tables -->

        <!-- content tables -->
        <div id="content-tables" class="content center">
            <div class="container-table">
                <div class="header">

                    <div class="left">
                        Song results
                    </div>

                    <div id="search_songs-more" class="right">
                        {% if search_songs.next %}
                            <a href = "/search/?q={{ resource_name|space_to_plus }}&type=songs" >more</a>
                        {% endif %}
                    </div>

                </div>

                <table id="search_songs-table">
                    {% with content=search_songs spinner_id="search_songs-spinner" %}
                        {% include "content_TBODY.html" %}
                    {% endwith %}
                </table>
                
            </div>
        </div><!--END content tables -->
    {% endif %}

</div><!--END content -->

{% include "general_JS_LINKS.html" %}

{% include "static_AJAX_OPTS.html" %}
{% include "static_AJAX_DEBUG.html" %}

</body>
</html>
