{% load audiosearch_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% include "general_HTML_HEAD.html" %}
</head>

<body>

{% include "general_HEADER.html" %}

<!-- content -->
<div id="container-content">

    <!-- content tables -->
    <div id="content-tables" class="content center">
        <div class="container-table">
            <div class="header">

                <div class="left">
                    popular artists
                </div>

            </div>

            <table id="top_artists-table">
                {% with content=top_artists spinner_id="top_artists-spinner" %}
                    {% include "content_TBODY.html" %}
                {% endwith %}
            </table>
            
        </div>
    </div><!--END content tables -->

</div><!--END content -->

{% include "general_JS_LINKS.html" %}

{% include "static_AJAX_OPTS.html" %}
{% include "static_AJAX_DEBUG.html" %}

</body>
</html>
